---
# vars file for roles/nsxt_create_transport_profiles
nsxt_ssh_enabled: true
nsxt_validate_certs: false
nsxt_status_check_delay: '50'
nsxt_default_mtu: '1600'
state: present
nsx_node1: 
  hostname: iacnsxm01.dryicelabs.com
  nsxt_deployment_cluster: Compute-Cluster
  nsxt_deployment_datacenter: IAC-PDC
  nsxt_deployment_datastore: shared_storage_01
  nsxt_deployment_portgroup: vlan1002
  nsxt_network_ip_address: "10.1.22.3"
transport_node_profiles:
  - display_name: TNP-Compute-1
    description: Compute Transport Node Profile
    host_switches:
      - host_switch_name: nvds01
        host_switch_type: N-VDS
        host_switch_mode: STANDARD
        host_switch_profiles:
          - name: UP-ESXi_Host-Active_Active
            type: UplinkHostSwitchProfile
          - name: nsx-default-nioc-hostswitch-profile
            type: NiocProfile
          - name: 'LLDP [Send Packet Enabled]'
            type: LldpHostSwitchProfile
        pnics:
          - device_name: vmnic2 
            uplink_name: Uplink_VMNIC1
        ip_assignment_spec:
          resource_type: StaticIpPoolSpec
          ip_pool_name: TP-ESXi_Host-VLAN_1003
        transport_zone_endpoints:
          - transport_zone_name: TZ-Overlay
          - transport_zone_name: TZ-VLAN
    transport_zone_endpoints: []
