---
- name: Adds cluster virtual IP address	
	nsxt_virtual_ip:
      hostname: {{ nsx_node1.hostname }}
      username: '{{ ansible_user }}'
      password: '{{ ansible_password }}'
      validate_certs: False
      virtual_ip_address: {{ nsxt_cluster_VIP }}
      state: present
	
