---
# vars file for roles/nsxt_create_transport_clisters
nsxt_ssh_enabled: true
nsxt_validate_certs: false
nsxt_status_check_delay: '50'
nsxt_default_mtu: '1600'
state: present
vcenter: '{{ lookup("env", "VMWARE_HOST") }}'
vcenter_user: '{{ lookup("env", "VMWARE_USER") }}'
vcenter_passwd: '{{ lookup("env", "VMWARE_PASSWORD") }}'
nsx_node1:
  hostname: iacnsxm01.dryicelabs.com
  nsxt_deployment_cluster: Compute-Cluster
  nsxt_deployment_datacenter: IAC-PDC
  nsxt_deployment_datastore: shared_storage_01
  nsxt_deployment_portgroup: vlan1002
  nsxt_network_ip_address: 10.1.22.3
nsxt_transport_node_collections:
  display_name: TNC1
  resource_type: TransportNodeCollection
  description: Transport Node Collections 1
  compute_manager_name: '{{ lookup("env", "VMWARE_HOST") }}'
  cluster_name: Compute-Cluster
  transport_node_profile_name: UP-ESXi_Host-Active_Active
