---
# tasks file for roles/nsxt_create_ip_pools
- name: Create IP Pools "{{item.display_name}}"
  nsxt_policy_ip_pool:
    hostname: "{{ nsx_node1.nsxt_network_ip_address }}"
    username: "{{ nsxt_admin_username }}"
    password: "{{ nsxt_admin_password }}"
    validate_certs: "{{ nsxt_validate_certs }}"
    display_name: "{{ item.display_name }}"
    pool_static_subnets: "{{ item.pool_static_subnets }}"
    state: "{{ state }}"
  with_items:
    - "{{ ip_pools  }}"
