---
# tasks file for roles/nsxt_configure_transport_clusters
- name: "Configure Transport Cluster:"
  nsxt_transport_node_collections:
    hostname: "{{ nsx_node1.nsxt_network_ip_address}}"
    username: "{{ nsxt_username }}"
    password: "{{ nsxt_password }}"
    validate_certs: "{{ nsxt_validate_certs }}"
    display_name: "{{ item.display_name }}"
    resource_type: "TransportNodeCollection"
    description: "{{ item.description }}"
    compute_manager_name: "{{ item.compute_manager_name }}"
    cluster_name: "{{ item.cluster_name }}"
    transport_node_profile_name: "{{ item.transport_node_profile_name }}"
    state: present
  with_items:
    - "{{ nsxt_transport_node_collections }}"
