---
# tasks file for roles/nsxt_create_uplink_profiles
- name: Create uplink profile {{item.uplink_profiles}}
  nsxt_uplink_profiles:
    hostname: "{{ nsx_node1.nsxt_network_ip_address }}"
    username: "{{ nsxt_username }}"
    password: "{{ nsxt_password }}"
    validate_certs: "{{ nsxt_validate_certs }}"
    validate_certs: False
    resource_type: UplinkHostSwitchProfile
    display_name: "{{item.display_name}}"
    mtu: 1600
    teaming: "{{item.teaming}}"
    transport_vlan: "{{item.transport_vlan}}"
    state: "present"
  with_items:
    - "{{uplink_profiles}}"
