---

- name: Deploying additional nodes
  nsxt_manager_auto_deployment:
      hostname: "{{ nsx_node1.nsxt_network_ip_address }}"
      username: "{{ nsxt_admin_username }}"
      password: "{{ nsxt_admin_password }}"
      validate_certs: "{{ nsxt_validate_certs }}"
      deployment_requests:
      - roles:
        - CONTROLLER
        - MANAGER
        form_factor: "SMALL"
        user_settings:
          cli_password: "{{ nsxt_cli_password }}"
          root_password: "{{ nsxt_cli_password }}"
        deployment_config:
          placement_type: VsphereClusterNodeVMDeploymentConfig
          vc_name: "{{ compute_managers[0]['display_name'] }}"
          vc_username: "{{ compute_managers[0]['username'] }}"
          vc_password: "{{ compute_managers[0]['password'] }}"
          management_network: "{{ item.nsxt_deployment_portgroup }}"
          hostname: "{{ item.hostname }}"
          compute: "{{ item.nsxt_deployment_cluster }}"
          storage: "{{ item.nsxt_deployment_datastore }}"
          default_gateway_addresses:
          - "{{ nsxt_network_gateway }}"
          dns_servers:
          - "{{ dns_server_1 }}"
          ntp_servers:
          - "{{ ntp_server_default }}"
          management_port_subnets:
          - ip_addresses:
            - "{{ item.mgmt_ip }}"
            prefix_length: "{{ item.prefix }}"
      state: present
  with_items:
    - "{{ additional_nodes }}"
