---
# vars file for roles/nsxt_create_edge_transport_Node
nsxt_ssh_enabled: true
nsxt_validate_certs: false
nsxt_status_check_delay: '50'
nsxt_default_mtu: '1600'
state: present
nsx_node1: 
  hostname: iacnsxm01.dryicelabs.com
  nsxt_deployment_cluster: Compute-Cluster
  nsxt_deployment_datacenter: IAC-PDC
  nsxt_deployment_datastore: shared_storage_01
  nsxt_deployment_portgroup: vlan1002
  nsxt_network_ip_address: "10.1.22.3"

edge_transport_nodes:
- display_name: Edge-Node-1
  host_switches:
  - host_switch_profiles:
    - name: UP-Edge_VM-Active_Active
      type: UplinkHostSwitchProfile
    host_switch_name: nvds01
    host_switch_mode: STANDARD
    pnics:
    - device_name: "vmnic2"
      uplink_name: "Uplink_VMNIC1"
    ip_assignment_spec:
      resource_type: StaticIpPoolSpec
      ip_pool_name: "TP-Edge_VM-VLAN_1004"
    transport_zone_endpoints:
      - transport_zone_name: TZ-Overlay
      - transport_zone_name: TZ-VLAN
  transport_zone_endpoints: []
  node_deployment_info:
    resource_type: "EdgeNode"
    display_name: "iacedge01.dryicelabs.com"
    ip_addresses: 
    deployment_type: "VIRTUAL_MACHINE"
    deployment_config:
      form_factor: "SMALL"
      node_user_settings:
        cli_password: "Admin@1Admin@1"
        root_password: "Admin@1Admin@1"
      vm_deployment_config:
        placement_type: VsphereDeploymentConfig
        vc_name: "vcenter-iac"                  #display name used at the time of add compute manager
        vc_username: '{{ lookup("env", "VMWARE_USER") }}'
        vc_password: '{{ lookup("env", "VMWARE_PASSWORD") }}'
        data_networks:
        - trunk
        management_network: "esxi-dvpg"
        hostname: "iacedge01.dryicelabs.com"
        compute: "Compute-Cluster"
        storage: "shared_storage_02"
        default_gateway_addresses: 
        - 10.1.20.254
        management_port_subnets: 
          - ip_addresses:
              - 10.1.20.2
            prefix_length: 24
        dns_servers: 
        - 10.1.22.10
        search_domains: 
        - dryicelabs.com
        allow_ssh_root_login: yes
        enable_ssh: true
